# Visual Studio / VS Code
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs (C# / .NET)
[Bb]in/
[Oo]bj/

# Package restore packages
packages/
*.nuget.g.props
*.nuget.g.targets

# Angular / Node.js
node_modules/
.angular/
dist/
wwwroot/

DriveScanner.Api